@using BeOnTime.Web.ViewModels.Meetings
@model UserMeetingsViewModel

@{
    ViewData["Title"] = "Your Meetings";
    DateTime timeNow = DateTime.Now;
}

<h1 class="display-3">@this.ViewData["Title"]</h1>
@if (Model.Meetings.Any())
{
    @foreach (var meeting in Model.Meetings.OrderByDescending(x => x.CreatedOn))
    {
        <div class="card" style="width: 72rem;">
            <div class="alert alert-info">
                Title -> @meeting.Title
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Organiser -> @meeting.Organiser.UserName</li>
                <li class="list-group-item">Start time -> @meeting.MeetingStartTime</li>
                <li class="list-group-item">End time -> @meeting.MeetingEnding</li>
                <li class="list-group-item">Description -> @meeting.Description</li>
                <li class="list-group-item">Place -> @meeting.Place</li>
                <li class="list-group-item">
                    Status ->
                    @if (timeNow > meeting.MeetingEnding)
                    {
                        <span>Over</span>
                    }
                    else if (timeNow > meeting.MeetingStartTime && timeNow < meeting.MeetingEnding)
                    {
                        <span>Ongiong</span>
                    }
                    else
                    {
                        <span>Upcoming</span>
                    }
                </li>

                @foreach (var feedback in meeting.Feedbacks)
                {
                    <li class="list-group-item">Feedback -> @feedback.Description</li>
                }
                @if (meeting.Organiser.UserName == User.Identity.Name)
                {
                    <button>@Html.ActionLink("Edit", "Edit", new { id = meeting.Id })</button>
                    <button>@Html.ActionLink("Delete", "Delete", new { id = meeting.Id })</button>
                }
            </ul>
        </div>
        <p> </p>
    }
}else { 
    <h1>You have no meetings</h1>
}
