@using BeOnTime.Web.ViewModels.Feedbacks
@model FeedbackUserViewModel

@{
    ViewData["Title"] = "My feedbacks";
    var feedbacks = Model.Feedbacks;
}

@if (feedbacks.Count > 0)
{
    <h1>My feedbacks:</h1>

    @foreach (var feedback in feedbacks.OrderByDescending(f => f.CreatedOn))
    {
        <div class="card" style="width: 72rem;">
            <div class="alert alert-info">
                Meeting -> @feedback.MeetingTitle
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">From -> @feedback.Username</li>
                <li class="list-group-item">Rating -> @feedback.Rating</li>
                <li class="list-group-item">Comment -> @feedback.Description</li>
            </ul>
        </div>
        <button>@Html.ActionLink("Edit", "Edit", new { id = feedback.Id })</button>
        <button>@Html.ActionLink("Delete", "Delete", new { id = feedback.Id })</button>
        <p> </p>
    }
}
else
{
    <h1>You have given no feedbacks</h1>
}